name: clean_framework_workspace
publish_to: none
environment:
  sdk: '>=3.8.0 <4.0.0'

workspace:
  - packages/clean_framework
  - packages/clean_framework/example
  - packages/clean_framework/theme_example
  - packages/clean_framework_router
  - packages/clean_framework_http
  - packages/clean_framework_http/example
  - packages/clean_framework_firestore
  - packages/clean_framework_graphql
  - packages/clean_framework_graphql/graphql_example
  - packages/clean_framework_test

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^10.0.0

melos:
  command:
    bootstrap:
      environment:
        sdk: '>=3.8.0 <4.0.0'
        flutter: '>=3.32.0'

  scripts:
    analyze:
      # We are setting the concurrency to 1 because a higher concurrency can crash
      # the analysis server on low performance machines (like GitHub Actions).
      run: |
        melos exec -c 1 -- \
        dart analyze . --fatal-infos
      description: |
        Run `dart analyze` in all packages.
        - Note: you can also rely on your IDEs Dart Analysis / Issues window.

    test:
      run: |
        melos exec -c 6 --fail-fast -- \
        "flutter test --no-pub"
      description: Run `flutter test` for a specific package.
      select-package:
        dir-exists:
          - test

    coverage:
      run: |
        melos exec -c 6 --fail-fast -- \
        "flutter test --no-pub --coverage"
      description: Run `flutter test --coverage` for a specific package.
      select-package:
        dir-exists:
          - test

    coverage:all:
      run: |
        melos run coverage --no-select
      description: |
        Run all tests available and generate coverage.
