name: Quality Check

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  gen-cov:
    name: Generate Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Check out current repository
        uses: actions/checkout@v3

      - name: Setup Flutter Stable
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: "Install Tools"
        run: |
          ./.github/workflows/scripts/install-tools.sh

      - name: Get package dependencies
        run: melos bs

      - name: Analyze dart code for the project
        run: melos analyze

      - name: Run tests and generate coverage
        run: melos coverage:all

      - name: Upload library coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: ./packages/clean_framework/coverage/lcov.info,./packages/clean_framework_firestore/coverage/lcov.info,./packages/clean_framework_graphql/coverage/lcov.info,./packages/clean_framework_http/coverage/lcov.info,./packages/clean_framework_router/coverage/lcov.info,./packages/clean_framework_test/coverage/lcov.info
          name: clean-framework-coverage
#  pana:
#    defaults:
#      run:
#        working-directory: packages/clean_framework
#
#    name: Verify Pub Score
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v3
#      - uses: subosito/flutter-action@v2
#
#      - name: Install Dependencies
#        run: |
#          flutter packages get
#          flutter pub global activate pana
#
#      - name: Verify Pub Score
#        run: |
#          ./.github/workflows/scripts/verify-pub-score.sh
